@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background: rgb(20,0,36);
        background: -moz-linear-gradient(rgba(5,7,12,0.18), rgba(5,7,12,0.18)), -moz-linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        background: -webkit-linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)) ,-webkit-linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        background: linear-gradient(rgba(5,7,12,0.18), rgba(5,7,12,0.18)), linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#140024",endColorstr="#abdbdd",GradientType=1);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .register__pet-user-logo{
        fill: white;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .title{
        font-family: 'Cookie', cursive;
        text-align: center;
        font-size: 60px;
        color: #1d3454;
    }

    .img-container{
        display: none;
    }

    .form, .pet-register-form{
        font-family: Arial, Helvetica, sans-serif;
        color: #1d3454;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        -webkit-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        -moz-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        margin: 0 10vw;
        height: 420px;
    }

    .register__pet-name-date-container, .register__pet-type-race-container, .pet-register-form{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .pet-register-subtitle-container{
        display: flex;
        align-items: center;
    }

    .pet-register-form{
        height: 600px;
        margin-bottom: 20vh;
        position: relative;
    }

    .register__new-pet-arrow-container{
        position: absolute;
        top: 10px;
        left: 10px;
        color: #1d3454;
    }

    .register__new-pet-arrow-container:visited{
        color: #1d3454;
    }


    .register-form{
        font-family: Arial, Helvetica, sans-serif;
        color: #1d3454;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        -webkit-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        -moz-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        margin: 0 10vw;
        height: 700px;
    }


    .subtitle{
        margin: 30px 0px;
    }

    .register__new-pet{
        font-size: 4vw;
    }

    .photo-username-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .photo__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        outline: 1px solid #1d3454;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        width: fit-content;
    }

    .photo__input{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .camera__logo{
        width: 25px;
        fill: #1d3454;
    }

    .correo p{
        font-size: smaller;
    }

    .contra p{
        font-size: smaller;
    }

    .form input, .pet-register-form input{
        border-radius: 8px;
        border: none;
        outline: 1px solid #457b9d;
        height: 40px;
        width: 50vw;
    }

    .register__pet-date{
        color: #1d3454;
        padding: 10px;
    }

    .register-form input{
        border-radius: 8px;
        border: none;
        outline: 1px solid #457b9d;
        height: 40px;
        width: 50vw;
        margin-bottom: 20px;
    }


    .contra p{
        font-size: smaller;
    }

    .buttons{
        display: flex;
        margin: 40px 0px;
        justify-content: space-evenly;
        column-gap: 15px;
    }

    .register-buttons-container{
        display: flex;
        margin: 15px 0px;
        justify-content: space-evenly;
        column-gap: 15px;
    }

    .buttons button, .register__pet-submmit-button{
        border: none;
        height: 44px;
        font-size: medium;
        padding: 10px;
    }

    .register-buttons-container button{
        border: none;
        height: 44px;
        font-size: medium;
        padding: 10px;
    }

    .login-btn, .register__pet-submmit-button{
        background-color: #457b9d;
        color: white;
        border-radius: 12px;
    }

    .register__pet-submmit-button{
        margin-top: 15px;
    }

    .register-login-btn{
        background-color: white;
        color: #457b9d;
        border-radius: 12px;
    }

    .register-btn{
        background-color: white;
        color: #457b9d;
        border-radius: 12px;
    }

    .register-register-btn{
        background-color: #457b9d;
        color: white;
        border-radius: 12px;
    }

    .recover-password{
        margin-bottom: 20px;
        text-decoration: none;
        color: #457b9d;
    }

    .register-recover-password{
        margin-bottom: 20px;
        margin-top: 20px;
        text-decoration: none;
        color: #457b9d;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px;
        padding: 0 10px;
    }

    .link-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 10px;
        row-gap: 5px;
        margin-bottom: 20px;
    }

    .footer-link{
        text-decoration: none;
        color: grey;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background: rgb(20,0,36);
        background: -moz-linear-gradient(rgba(5,7,12,0.18), rgba(5,7,12,0.18)), -moz-linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        background: -webkit-linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)) ,-webkit-linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        background: linear-gradient(rgba(5,7,12,0.18), rgba(5,7,12,0.18)), linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#140024",endColorstr="#abdbdd",GradientType=1);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title{
        font-family: 'Cookie', cursive;
        text-align: center;
        font-size: 60px;
        color: #1d3454;
    }

    .register__pet-user-logo{
        fill: white;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .img-container{
        display: none;
    }

    .form, .pet-register-form{
        font-family: Arial, Helvetica, sans-serif;
        color: #1d3454;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        -webkit-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        -moz-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        margin: 0 10vw;
    }

    .register__pet-name-date-container, .register__pet-type-race-container, .pet-register-form{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .pet-register-form{
        height: 630px;
        margin-bottom: 100px;
    }

    .register-form{
        font-family: Arial, Helvetica, sans-serif;
        color: #1d3454;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        -webkit-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        -moz-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        margin: 0 10vw;
        height: 700px;
    }
    .subtitle{
        margin: 30px 0px;
    }

    .register__new-pet{
        font-size: 5vw;
    }

    .photo-username-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .photo__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        outline: 1px solid #1d3454;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        width: fit-content;
    }

    .photo__input{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .camera__logo{
        width: 25px;
        fill: #1d3454;
    }

    .correo p{
        font-size: smaller;
    }

    .contra p{
        font-size: smaller;
    }

    .form input, .pet-register-form input{
        border-radius: 8px;
        border: none;
        outline: 1px solid #457b9d;
        height: 40px;
        width: 50vw;
    }

    .register__pet-date{
        color: #1d3454;
    }

    .pet-register-form{
        height: 600px;
        margin-bottom: 20vh;
        position: relative;
    }

    .register__new-pet-arrow-container{
        position: absolute;
        top: 10px;
        left: 10px;
        color: #1d3454;
    }

    .register__new-pet-arrow-container:visited{
        color: #1d3454;
    }

    .register__pet-date{
        padding: 10px;
    }

    .register-form input{
        border-radius: 8px;
        border: none;
        outline: 1px solid #457b9d;
        height: 40px;
        width: 50vw;
        margin-bottom: 20px;
    }


    .contra p{
        font-size: smaller;
    }

    .buttons{
        display: flex;
        margin: 40px 0px;
        justify-content: space-evenly;
        column-gap: 25px;
    }

    .register-buttons-container{
        display: flex;
        margin: 15px 0px;
        justify-content: space-evenly;
        column-gap: 9vw;
    }

    .buttons button, .register__pet-submmit-button{
        border: none;
        height: 44px;
        font-size: medium;
        padding: 10px;
        width: 10vw;
    }

    .register__pet-submmit-button{
        width: 15vw;
    }

    .register-buttons-container button{
        border: none;
        height: 44px;
        font-size: medium;
        padding: 10px;
        width: 15vw;
    }

    .login-btn, .register__pet-submmit-button{
        background-color: #457b9d;
        color: white;
        border-radius: 12px;
    }

    .register__pet-submmit-button{
        margin-top: 15px;
    }

    .register__pet-submmit-button-container{
        margin-bottom: 0px;
    }

    .register-login-btn{
        background-color: white;
        color: #457b9d;
        border-radius: 12px;
    }

    .register-btn{
        background-color: white;
        color: #457b9d;
        border-radius: 12px;
    }

    .register-register-btn{
        background-color: #457b9d;
        color: white;
        border-radius: 12px;
    }

    .recover-password{
        margin-bottom: 20px;
        text-decoration: none;
        color: #457b9d;
    }

    .register-recover-password{
        margin-bottom: 20px;
        margin-top: 20px;
        text-decoration: none;
        color: #457b9d;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px;
        padding: 0 10px;
    }

    .link-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 10px;
        row-gap: 5px;
        margin-bottom: 20px;
    }

    .footer-link{
        text-decoration: none;
        color: grey;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        background: rgb(20,0,36);
        background: -moz-linear-gradient(rgba(5,7,12,0.18), rgba(5,7,12,0.18)), -moz-linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        background: -webkit-linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)) ,-webkit-linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        background: linear-gradient(rgba(5,7,12,0.18), rgba(5,7,12,0.18)), linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#140024",endColorstr="#abdbdd",GradientType=1);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title{
        font-family: 'Cookie', cursive;
        text-align: center;
        font-size: 60px;
        color: #1d3454;
    }

    .img-container{
        display: none;
    }

    .form{
        font-family: Arial, Helvetica, sans-serif;
        color: #1d3454;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        -webkit-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        -moz-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        margin: 0 10vw;
    }


    .pet-register-form{
        display: flex;
        flex-direction: column;
        row-gap: 45px;
        height: 95vh;
        margin-bottom: 100px;
    }


    .subtitle{
        margin: 30px 0px;
    }

    .photo-username-container, .register__pet-name-date-container, .register__pet-type-race-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 30px;
    }


    .correo p{
        font-size: smaller;
    }

    .contra p{
        font-size: smaller;
    }

    .form input, .register__pet-username-container input{
        border-radius: 8px;
        border: none;
        outline: 1px solid #457b9d;
        height: 40px;
        width: 50vw;
    }

    .register__pet-username-container input, .register__pet-name-date-container input, .register__pet-type-race-container input{
        width: 30vw;
        height: 65px;
    }

    .register__pet-username-container{
        position: relative;
        bottom: 10px;
    }

    .register__pet-date{
        padding: 15px;
    }

    .contra p{
        font-size: smaller;
    }

    .buttons{
        display: flex;
        margin: 40px 0px;
        justify-content: space-evenly;
        column-gap: 25px;
    }

    .buttons button{
        border: none;
        height: 44px;
        font-size: medium;
        padding: 10px;
        width: 10vw;
    }

    .login-btn{
        background-color: #457b9d;
        color: white;
        border-radius: 12px;
    }

    .register-btn{
        background-color: white;
        color: #457b9d;
        border-radius: 12px;
    }

    .register__pet-submmit-button{
        height: 44px;
        width: 20vw;
        margin-bottom: 20px;
    }

    .recover-password{
        margin-bottom: 20px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px;
        padding: 0 10px;
    }

    .link-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 10px;
        row-gap: 5px;
        margin-bottom: 20px;
    }

    .footer-link{
        text-decoration: none;
        color: grey;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        background: rgb(20,0,36);
        background: -moz-linear-gradient(rgba(5,7,12,0.18), rgba(5,7,12,0.18)), -moz-linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        background: -webkit-linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)) ,-webkit-linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        background: linear-gradient(rgba(5,7,12,0.18), rgba(5,7,12,0.18)), linear-gradient(0deg, rgba(20,0,36,0) 50%, rgba(171,219,221,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#140024",endColorstr="#abdbdd",GradientType=1);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title{
        font-family: 'Cookie', cursive;
        text-align: center;
        font-size: 60px;
        color: #1d3454;
    }

    .subtitle{
        margin: 30px 0px;
    }

    .main{
        display: flex;
        justify-content: center;
        column-gap: 60px;
    }

    .register-main{
        display: flex;
        justify-content: center;
        column-gap: 60px;
    }

    .img-container{
        border-radius: 15px;
        display: block;
        width: 30vw;
        height: 82vh;
        -webkit-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        -moz-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        overflow: hidden;
    }

    .dog-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        transition: transform 0.5s;
    }

    .dog-img:hover{
        transform: scale(1.1);
    }

    .form{
        font-family: Arial, Helvetica, sans-serif;
        color: #1d3454;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        -webkit-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        -moz-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        margin: 0;
        width: 30vw;
        height: 70vh;
    }

    .register-form{
        font-family: Arial, Helvetica, sans-serif;
        color: #1d3454;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        -webkit-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        -moz-box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        box-shadow: -1px 11px 52px -20px rgba(0,0,0,0.64);
        margin: 0;
        width: 40vw;
        height: 82vh;
    }

    .pet-register-form{
        display: flex;
        align-items: center;
    }

    .subtitle{
        margin: 30px 0px;
    }

    .user-email-container,
    .password-confirm-password-container,
    .name-lastname-container{
        display: flex;
        column-gap: 25px;
    }

    .correo p{
        font-size: smaller;
    }

    .contra p{
        font-size: smaller;
    }

    .form input{
        border-radius: 8px;
        border: none;
        outline: 1px solid #457b9d;
        height: 50px;
        width: 22vw;
    }

    .register-form input{
        border-radius: 8px;
        border: none;
        outline: 1px solid #457b9d;
        height: 50px;
        width: 15vw;
    }


    .contra p{
        font-size: smaller;
    }

    .buttons{
        display: flex;
        margin: 40px 0px;
        justify-content: space-evenly;
        column-gap: 10px;
    }

    .register-buttons-container{
        display: flex;
        margin: 25px 0px;
        justify-content: space-evenly;
        column-gap: 10px;
    }

    .buttons button{
        border: none;
        height: 44px;
        font-size: medium;
        padding: 10px;
        width: 8vw;
    }

    .login-btn{
        background-color: #457b9d;
        color: white;
        border-radius: 12px;
    }

    .login-btn:hover{
        background-color: #325970;
    }

    .register-btn{
        background-color: white;
        color: #457b9d;
        border-radius: 12px;
    }

    .register-btn:hover, .register-login-btn:hover{
        outline: 1px solid #457b9d;
    }

    .recover-password{
        color: #325970;
        margin-top: 20px;
        text-decoration: none;
    }

    .recover-password:hover{
        text-decoration: underline;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0 30px 0;
        padding: 0 10px;
    }

    .link-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 15px;
        row-gap: 5px;
        margin-bottom: 20px;
    }

    .footer-link{
        text-decoration: none;
        color: grey;
    }

    .footer-link:hover{
        text-decoration: underline;
    }

    .register__new-pet{
        margin-top: 30px;
    }

    .pet-register-subtitle-container{
        width: 60vw;
        display: flex;
        justify-content: center;
    }

    .register__new-pet{
        font-size: 3vw;
    }

    .photo__container:hover,
    .photo__input:hover,
    .camera__logo:hover,
    .upload__photo:hover
    {
        cursor: pointer;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
        
}